@import "~bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: 'Peace Sans';
  src: url("/fonts/Peace Sans/Peace Sans.otf");
  font-weight: 400;
}

@font-face {
  font-family: 'Comic Sans';
  src: url("/fonts/Comic Sans MS.ttf");
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Medium.ttf");
}

.collapsing {
  -webkit-transition: none;
  transition: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  &.intro {
    background: url("/img/common/background.png");
    background-position: center center;
    background-size: cover;
  }

  @include media-breakpoint-down(md) {
    &.menu-opened {
      .content {
        display: none;
      }
    }
  }
}

header {
  .navbar {
    @include media-breakpoint-up(md) {
      display: none;
    }

    .custom-navbar-toggler {
      border: 0;
      background: transparent;
      z-index: 1000;
      padding: 0;

      .navbar-toggler-icon {
        width: 3rem;
        height: 3rem;
      }

      &[aria-expanded="false"] {
        .navbar-toggler-icon {
          background-image: url("/img/common/menu-mobile.svg");
        }
      }

      &[aria-expanded="true"] {
        .navbar-toggler-icon {
          background-image: url("/img/common/menu-mobile-collapse.svg");
        }
      }
    }

    .navbar-collapse {
      .menu-container {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 500;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;

        .menu-row {
          display: flex;
          width: 100vmin;
          justify-content: space-between;
          padding-right: $container-padding-x;
          padding-left: $container-padding-x;
        }
      }
    }
  }
}

.menu-container {
  .menu-button {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    padding: 0;
    width: 3rem;
    height: 3rem;

    &.home {
      background-image: url("/img/common/menu/home.svg");
    }

    &.gps {
      background-image: url("/img/common/menu/gps.svg");
    }

    &.batman {
      background-image: url("/img/common/menu/batman.svg");
    }

    &.gym {
      background-image: url("/img/common/menu/gym.svg");
    }

    &.horse {
      background-image: url("/img/common/menu/horse.svg");
    }

    &.castle {
      background-image: url("/img/common/menu/castle.svg");
    }

    &.girl {
      background-image: url("/img/common/menu/girl.svg");
    }

    &.account {
      background-image: url("/img/common/menu/account.svg");
    }

    &.rocket {
      background-image: url("/img/common/menu/rocket.svg");
    }
  }
}

.text-hello {
  font-family: "Comic Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3.5vmin;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FF9D27;
  @supports (-webkit-text-stroke: 1px black) {
    -webkit-text-stroke: 1px black;
  }
}

.btn-continue {
  text-transform: uppercase;
  margin-top: 3vmin;
  background: #FFBB00;
  border-radius: 3vmin;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.3vmin solid;
  border-color: #BA8800;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2vmin;
  padding: 1vmin 9vmin 1vmin 5vmin;

  .controller-icon {
    display: inline-block;
    position: absolute;
    width: 5vmin;
    height: 5vmin;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("/img/common/button.svg");
    margin-left: 1vmin;
    margin-top: -2vmin;
  }
}

.content {
  width: 100%;
  height: 100%;

  .screen {
    position: relative;
    width: 100%;
    height: 100%;

    &.no-scroll {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
    }

    &.screen-with-man {
      background-image: url("/img/common/man.png");
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: auto 70%;

      @include media-breakpoint-down(md) {
        background-size: auto 50%;
      }
    }

    .splash {
      position: absolute;
      text-align: center;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;

      &.desktop-only {
        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      &.mobile-only {
        @include media-breakpoint-up(md) {
          display: none;
        }
      }

      &.splash-mobile {
        background-image: url("/img/common/splash-mobile.svg");
        width: 100vw;
        height: 100vh;
        min-width: 300px;
        min-height: 300px;
        padding-bottom: 5vmin;
        font-size: 2.7vmin;
        font-size: clamp(10px, 2.7vmin, 18px);
        max-height: 70vh;

        .text-hello {
          font-size: 5vmin;
          font-size: max(10px, 5vmin);
          margin-bottom: 3vmin;
        }

        .btn-continue {
          font-size: clamp(10px, 3vmin, 18px);
        }
      }
    }
  }

  .screen-1 {
    background-image: url("/img/screen1/splash.svg");
    background-size: 100% 100%;
    background-position-x: 3vmin;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(md) {
      background-image: url("/img/screen1/splash-mobile.svg");
      background-position: center center;
    }

    .title {
      font-family: 'Peace Sans', sans-serif;
      font-size: 6.2vmin;
      color: #FB5B00;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      @supports (-webkit-text-stroke: 1px white) {
        -webkit-text-stroke: 1px white;
      }
    }

    .info {
      font-family: 'Peace Sans', sans-serif;
      color: #00AE90;
      font-size: 3vmin;
      text-shadow: 2px 0 2px rgba(0, 0, 0, 0.25);
    }
  }

  .screen-2 {
    .splash-left {
      background-image: url("/img/common/splash1.svg");
      left: 50%;
      top: 50%;
      margin-left: -60vmin;
      margin-top: -50vmin;
      width: 50vmin;
      height: 50vmin;
      transform: rotate(
          -8.25deg
      );
      padding-left: 10vmin;
      padding-top: 3vmin;
    }

    .splash-right {
      background-image: url("/img/common/splash2.svg");
      left: 50%;
      top: 50%;
      margin-left: 15vmin;
      margin-top: -30vmin;
      width: 50vmin;
      height: 50vmin;
      font-size: 1.5vmin;
      transform: rotate(
          -6deg
      );
      padding-bottom: 5vmin;
      padding-right: 5vmin;
    }
  }

  .screen-3 {
    .splash-right {
      background-image: url("/img/common/splash4.svg");
      left: 50%;
      top: 50%;
      margin-left: 10vmin;
      margin-top: -40vmin;
      width: 70vmin;
      height: 70vmin;
      font-size: 1.5vmin;
      padding-bottom: 7vmin;
      padding-right: 5vmin;
    }
  }

  .screen-4 {
    .splash-left {
      background-image: url("/img/common/splash4-flipped.svg");
      left: 50%;
      top: 50%;
      margin-left: -83vmin;
      margin-top: -50vmin;
      width: 80vmin;
      height: 80vmin;
      padding-bottom: 3vmin;
      padding-left: 2vmin;
      font-size: 1.5vmin;
    }
  }

  .screen-5 {
    .splash-left {
      background-image: url("/img/common/splash1.svg");
      left: 50%;
      top: 50%;
      margin-left: -60vmin;
      margin-top: -50vmin;
      width: 50vmin;
      height: 50vmin;
      padding-left: 10vmin;
      padding-top: 3vmin;
      font-size: 1.5vmin;
    }

    .splash-right {
      background-image: url("/img/common/splash4.svg");
      left: 50%;
      top: 50%;
      margin-left: 10vmin;
      margin-top: -40vmin;
      width: 70vmin;
      height: 70vmin;
      font-size: 1.5vmin;
      padding-bottom: 7vmin;
      padding-right: 5vmin;
    }
  }

  .screen-6 {
    .splash-left {
      background-image: url("/img/common/splash1.svg");
      left: 50%;
      top: 50%;
      margin-left: -60vmin;
      margin-top: -50vmin;
      width: 50vmin;
      height: 50vmin;
      padding-left: 10vmin;
      padding-top: 3vmin;
      font-size: 1.5vmin;
    }

    .splash-right {
      background-image: url("/img/common/splash4.svg");
      left: 50%;
      top: 50%;
      margin-left: 10vmin;
      margin-top: -40vmin;
      width: 70vmin;
      height: 70vmin;
      font-size: 1.5vmin;
      padding-bottom: 7vmin;
      padding-right: 5vmin;
    }
  }

  .screen-7 {
    .splash-left {
      background-image: url("/img/common/splash1.svg");
      left: 50%;
      top: 50%;
      margin-left: -60vmin;
      margin-top: -50vmin;
      width: 50vmin;
      height: 50vmin;
      padding-left: 10vmin;
      padding-top: 3vmin;
      font-size: 1.5vmin;
    }

    .splash-right {
      background-image: url("/img/common/splash4.svg");
      left: 50%;
      top: 50%;
      margin-left: 10vmin;
      margin-top: -40vmin;
      width: 70vmin;
      height: 70vmin;
      font-size: 1.5vmin;
      padding-bottom: 7vmin;
      padding-right: 5vmin;
    }
  }

  .screen-8 {
    background-image: url("/img/screen8/background.jpg");
    background-position: center;
    background-size: cover;

    .grid-container {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
    "menu screen-content screen-content screen-content screen-content screen-content ."
    "menu screen-content screen-content screen-content screen-content screen-content help-text"
    "menu screen-content screen-content screen-content screen-content screen-content man";

      .area {
        &.man {
          position: relative;
          grid-area: man;

          img.man-illustrated {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 150%;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
          }
        }

        &.help-text {
          position: relative;
          grid-area: help-text;

          .thinking-cloud {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;

            position: absolute;
            right: 0;
            bottom: 0;
            width: 340px;
            height: auto;
            font-size: 12px;
            line-height: 18px;
            padding-top: 60px;
            padding-bottom: 100px;
            padding-right: 60px;
            padding-left: 60px;
            margin-bottom: 50%;
            background-image: url("/img/common/thinking-cloud.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }

        &.menu {
          grid-area: menu;

          display: flex;
          flex-direction: column;
          align-content: center;
          align-items: center;
          justify-content: center;

          .menu-button {
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
            width: 2rem;
            height: 2rem;

            &.active {
              width: 3rem;
              height: 3rem;
            }
          }
        }

        &.screen-content {
          grid-area: screen-content;

          padding-right: 20%;
          display: flex;
          align-items: center;
          justify-content: center;
          align-content: center;

          .inner {
            border-radius: 30px;
            padding: 10px;

            &.inner-1 {
              background-color: rgba(255, 245, 165, 0.5);
            }

            &.inner-2 {
              background-color: rgba(255, 245, 165, 0.65);
            }

            &.inner-3 {
              background-color: rgba(255, 245, 165, 0.75);
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            }
          }

          .title {
            font-family: 'Peace Sans', sans-serif;
            font-size: 60px;
            line-height: 83px;
            text-align: center;
            color: #FB5B00;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            margin-top: -60px;
            @supports (-webkit-text-stroke: 1px white) {
              -webkit-text-stroke: 1px white;
            }
            text-transform: uppercase;
          }

          .sub-title {
            font-family: 'Peace Sans', sans-serif;
            font-size: 30px;
            line-height: 42px;
            text-align: center;
            color: #FB5B00;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            @supports (-webkit-text-stroke: 1px white) {
              -webkit-text-stroke: 1px white;
            }
            text-transform: uppercase;
          }

          .just-another-one-title {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;

            font-size: 13px;
            line-height: 30px;

            text-align: center;

            .highlighted {
              color: #FB5B00;
              text-decoration: underline;
            }
          }

          .rules-title {
            font-family: 'Peace Sans', sans-serif;
            font-size: 30px;
            line-height: 30px;
            color: #00AE90;
            text-transform: uppercase;
            text-align: center;
            padding-top: 20px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            @supports (-webkit-text-stroke: 1px white) {
              -webkit-text-stroke: 1px white;
            }
          }

          .badges {
            margin-top: 20px;

            .badge {
              background-image: url("/img/screen8/badge.svg");
              background-repeat: no-repeat;
              background-position: center top;
              background-size: contain;

              min-height: 200px;
            }
          }
        }
      }
    }
  }
}
