.desktop-only {
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.mobile-only {
  @include media-breakpoint-up(md) {
    display: none !important;
  }
}

.min-h-100vh {
  min-height: 100vh;
}
