.content {
  .screen-8 {
    background-image: url("/img/screen8/background.jpg");
    background-position: center;
    background-size: cover;

    .grid-container {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
    "menu screen-content screen-content screen-content screen-content screen-content ."
    "menu screen-content screen-content screen-content screen-content screen-content help-text"
    "menu screen-content screen-content screen-content screen-content screen-content man";

      .area {
        &.man {
          position: relative;
          grid-area: man;

          img.man-illustrated {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 150%;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
          }
        }

        &.help-text {
          position: relative;
          grid-area: help-text;

          .thinking-cloud {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;

            position: absolute;
            right: 0;
            bottom: 0;
            width: 340px;
            height: auto;
            font-size: 12px;
            line-height: 18px;
            padding-top: 60px;
            padding-bottom: 100px;
            padding-right: 60px;
            padding-left: 60px;
            margin-bottom: 50%;
            background-image: url("/img/common/thinking-cloud.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }

        &.menu {
          grid-area: menu;

          display: flex;
          flex-direction: column;
          align-content: center;
          align-items: center;
          justify-content: center;

          .menu-button {
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
            width: 2rem;
            height: 2rem;

            &.active {
              width: 3rem;
              height: 3rem;
            }
          }
        }

        &.screen-content {
          grid-area: screen-content;

          padding-right: 20%;
          display: flex;
          align-items: center;
          justify-content: center;
          align-content: center;

          .inner {
            border-radius: 30px;
            padding: 10px;

            &.inner-1 {
              background-color: rgba(255, 245, 165, 0.5);
            }

            &.inner-2 {
              background-color: rgba(255, 245, 165, 0.65);
            }

            &.inner-3 {
              background-color: rgba(255, 245, 165, 0.75);
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            }
          }

          .title {
            font-family: 'Peace Sans', sans-serif;
            font-size: 60px;
            line-height: 83px;
            text-align: center;
            color: #FB5B00;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            margin-top: -60px;
            @include text-stroke(white);
            text-transform: uppercase;
          }

          .sub-title {
            font-family: 'Peace Sans', sans-serif;
            font-size: 30px;
            line-height: 42px;
            text-align: center;
            color: #FB5B00;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            @include text-stroke(white);
            text-transform: uppercase;
          }

          .just-another-one-title {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;

            font-size: 13px;
            line-height: 30px;

            text-align: center;
          }

          .rules-title {
            font-family: 'Peace Sans', sans-serif;
            font-size: 30px;
            line-height: 30px;
            color: #00AE90;
            text-transform: uppercase;
            text-align: center;
            padding-top: 20px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            @include text-stroke(white);
          }

          .badges {
            margin-top: 20px;

            .info-badge {
              background-image: url("/img/screen8/badge.svg");
              background-repeat: no-repeat;
              background-position: center top;
              background-size: contain;
              text-align: center;
              font-size: 14px;
              line-height: 21px;
              padding: 60px 30px 0 30px;

              .icon {
                display: inline-block;
                position: absolute;
                width: 5vmin;
                height: 5vmin;
                vertical-align: middle;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                margin-top: -6vmin;
                margin-left: -2.5vmin;
              }

              .icon-1 {
                background-image: url("/img/screen8/icons/britishflag.svg");
              }

              .icon-2 {
                background-image: url("/img/screen8/icons/star.svg");
              }

              .icon-3 {
                background-image: url("/img/screen8/icons/alien.svg");
              }
            }
          }

          .achievements-title {
            @include font-peace-sans();
            font-size: 26px;
            line-height: 30px;
            color: #00AE90;
            text-transform: uppercase;
            text-align: center;
            padding-top: 20px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            @include text-stroke(white);
          }
        }
      }
    }
  }
}
