.content {
  .screen-2 {
    .splash-left {
      background-image: url("/img/common/splash1.svg");
      left: 50%;
      top: 50%;
      margin-left: -60vmin;
      margin-top: -50vmin;
      width: 50vmin;
      height: 50vmin;
      transform: rotate(
          -8.25deg
      );
      padding-left: 10vmin;
      padding-top: 3vmin;
    }

    .splash-right {
      background-image: url("/img/common/splash2.svg");
      left: 50%;
      top: 50%;
      margin-left: 15vmin;
      margin-top: -30vmin;
      width: 50vmin;
      height: 50vmin;
      font-size: 1.5vmin;
      transform: rotate(
          -6deg
      );
      padding-bottom: 5vmin;
      padding-right: 5vmin;
    }
  }
}
